{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h2 class="col-xs-12">Los 5 Mandamientos de Matemáticas</h2>
            <h4 class="col-md-4 col-xs-12">1. Asiste a clases</h4>
            <h4 class="col-md-4 col-xs-12">2. Atiende las explicaciones del profesor</h4>
            <h4 class="col-md-4 col-xs-12">3. Pregunta cada vez que no entiendas</h4>
            <h4 class="col-md-4 col-xs-12">4. Haz todas las tareas</h4>
            <h4 class="col-md-4 col-xs-12">5. Practica cada vez que puedas</h4>
            <h4 class="col-md-4 col-xs-12">5. Practica cada vez que puedas</h4>
            <h4 class="col-md-4 col-xs-12">5. Practica cada vez que puedas</h4>
            <h4 class="col-md-4 col-xs-12">5. Practica cada vez que puedas</h4>
            <h4 class="col-md-4 col-xs-12">5. Practica cada vez que puedas</h4>
        </div>
        <div style="width: 200px;margin: auto;">
            <a href="{{ path('fos_user_security_login') }}" class="btn btn-lg btn-success">¡Vamos a Practicar! <i class="fa fa-arrow-right"></i></a>
        </div>
    </div>
{% endblock %}
